	<div ng-controller="createStudentController" class="part-content">
		<div class="page-content">
			<div class="row">
				<div class="col-xs-12"> 	

					<div class="row-fluid">
						<div class="span12">
							<div class="widget-box">
								<div class="widget-header widget-header-blue widget-header-flat">
									<h4 class="lighter">Novo Aluno</h4>
								</div>

								<div class="widget-body">
									<div class="widget-main">
										<div class="step-content row-fluid position-relative" id="step-container">
											<div class="step-pane active" id="step1">
												<h3 class="lighter block green">Coloque as informações abaixo:</h3>

												<form class="form-horizontal" id="validation-form" method="get">

													<div class="form-group">
														<label class="control-label col-xs-12 col-sm-2 no-padding-right">Nome:</label>

														<div class="col-xs-12 col-sm-3">
															<div class="clearfix">
																<input ng-model="student.name" type="text" class="col-xs-12 col-sm-12" />
															</div>
														</div>

														<label  class="control-label col-xs-12 col-sm-2 no-padding-right">Sobrenome:</label>

														<div class="col-xs-12 col-sm-3">
															<div class="clearfix">
																<input ng-model="student.lastname" type="text" class="col-xs-12 col-sm-12" />
															</div>
														</div>

													</div>

													<div class="form-group">
														<label class="control-label col-xs-12 col-sm-2 no-padding-right">Data de Nascimento:</label>

														<div class="col-xs-12 col-sm-3">
															<div class="clearfix">
																<div class="input-group">
																	<span class="input-group-addon">
																		<i class="icon-calendar"></i>
																	</span>

																	<input type="text" ng-model="student.birthdate"  id="datepicker" class="form-control col-xs-12 col-sm-12 input-mask-date date-picker" />
																</div>
															</div>
														</div>

														<label class="control-label col-xs-12 col-sm-2 no-padding-right">Naturalidade:</label>

														<div class="col-xs-12 col-sm-3">
															<div class="clearfix">
																<select ng-model="student.naturality" ng-options="item as item.name for item in listCities" class="col-xs-12 col-sm-12" id="form-field-select-1" >
																	<option value="">Selecione</option>
																</select>
															</div>
														</div>

													</div>

													<div class="form-group">
														<label class="control-label col-xs-12 col-sm-2 no-padding-right">Município:</label>

														<div class="col-xs-12 col-sm-3">
															<div class="clearfix">
																<select ng-model="student.city" ng-options="item as item.name for item in listCities" class="col-xs-12 col-sm-12" id="form-field-select-1" >
																<option value="">Selecione</option>
																</select>
															</div>
														</div>

														<label class="control-label col-xs-12 col-sm-2 no-padding-right">CEP:</label>

														<div class="col-xs-12 col-sm-3">
															<div class="clearfix">
																<input ng-model="student.cep" type="text" class="cep col-xs-12 col-sm-12" />
															</div>
														</div>

													</div>

													<div class="form-group">
														<label class="control-label col-xs-12 col-sm-2 no-padding-right">
															Bairro:	
														</label>

														<div class="col-xs-12 col-sm-3">
															<div class="clearfix">
																<input ng-model="student.district" type="text" class="col-xs-12 col-sm-12" />
															</div>
														</div>

														<label class="control-label col-xs-12 col-sm-2 no-padding-right">Rua:</label>

														<div class="col-xs-12 col-sm-3">
															<div class="clearfix">
																<input ng-model="student.street" type="text" class="col-xs-12 col-sm-12" />
															</div>
														</div>

													</div>

													<div class="form-group">
														<label ng-model="student.complementary" class="control-label col-xs-12 col-sm-2 no-padding-right">
															Complemento:	
														</label>

														<div class="col-xs-12 col-sm-3">
															<div class="clearfix">
																<input type="text" class="col-xs-12 col-sm-12" />
															</div>
														</div>

														<label class="control-label col-xs-12 col-sm-2 no-padding-right">E-mail:</label>

														<div class="col-xs-12 col-sm-3">
															<div class="clearfix">
																<input ng-model="student.email" type="text" class="col-xs-12 col-sm-12" />
															</div>
														</div>

													</div>

													<div class="form-group">
														<label class="control-label col-xs-12 col-sm-2 no-padding-right">
															Telefone:	
														</label>

														<div class="col-xs-12 col-sm-3">
															<div class="clearfix">
																<div class="input-group">
																	<span class="input-group-addon">
																		<i class="icon-phone"></i>
																	</span>

																	<input ng-model="student.phone" type="text" class="phone col-xs-12 col-sm-12" />
																</div>
															</div>
														</div>

														<label class="control-label col-xs-12 col-sm-2 no-padding-right" for="email">Celular:</label>

														<div class="col-xs-12 col-sm-3">
															<div class="clearfix">
																<div class="input-group">
																	<span class="input-group-addon">
																		<i class="icon-phone"></i>
																	</span>

																	<input ng-model="student.cellularPhone" type="text" class="cellphone col-xs-12 col-sm-12" />
																</div>
															</div>
														</div>

													</div>

													<div class="form-group">
														<label class="control-label col-xs-12 col-sm-2 no-padding-right" for="email">
															Nome da Mãe:	
														</label>

														<div class="col-xs-12 col-sm-3">
															<div class="clearfix">
																<input ng-model="student.mother" type="text" class="col-xs-12 col-sm-12" />
															</div>
														</div>

														<label class="control-label col-xs-12 col-sm-2 no-padding-right" for="email">Nome do Pai:</label>

														<div class="col-xs-12 col-sm-3">
															<div class="clearfix">
																<input ng-model="student.father" type="text" class="col-xs-12 col-sm-12" />
															</div>
														</div>

													</div>

													<div class="form-group">
														<label class="control-label col-xs-12 col-sm-2 no-padding-right">Sexo:</label>

														<div class="col-xs-12 col-sm-3">
															<div>
																<label class="blue">
																	<input ng-model="student.sex" name="gender" value="1" type="radio" class="ace" />
																	<span class="lbl"> Male</span>
																</label>
															</div>

															<div>
																<label class="blue">
																	<input ng-model="student.sex" name="gender" value="2" type="radio" class="ace" />
																	<span class="lbl"> Female</span>
																</label>
															</div>
														</div>
													</div>

													<div class="hr hr-dotted"></div>

													<div class="form-group">
														<label class="control-label col-xs-12 col-sm-2 no-padding-right">
															Usuário:	
														</label>

														<div class="col-xs-12 col-sm-3">
															<div class="clearfix">
																<input type="text" ng-model="student.user.username" class="col-xs-12 col-sm-12" />
															</div>
														</div>

														<label class="control-label col-xs-12 col-sm-2 no-padding-right">Senha:</label>

														<div class="col-xs-12 col-sm-3">
															<div class="clearfix">
																<input ng-model="student.user.password" type="password" class="col-xs-12 col-sm-12" />
															</div>
														</div>

													</div>

													<div class="row-fluid">
														<input id="btnSaveStudent" type="button" class="btn btn-success btn-next" data-last="Salvar" value="Salvar">
													</div>
												</form>
											</div>
										</div>
									</div><!-- /widget-main -->
								</div><!-- /widget-body -->
							</div>
						</div>
					</div>
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.page-content -->
	</div><!-- /.main-content -->
</div><!-- /.main-container-inner -->
<script type="text/javascript" src="controllers/alunoController.js"></script>